[submodule "sigma-chan-nandece/rakuten_rss"]
	path = sigma-chan-nandece/rakuten_rss
	url = git@github.com:zaq9/rakuten_rss.git
[submodule "sigma_chan_nandece/rakuten_rss"]
	path = sigma_chan_nandece/rakuten_rss
	url = git@github.com:zaq9/rakuten_rss.git
